.design-section {
    // .design-section__wrapper
    &__wrapper {
        background: url('../images/Rectangle1.jpg') no-repeat, radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
        background-blend-mode: overlay;
        background-position: center;
        background-size: cover;
    }
    // .design-section__container
    &__container {
        padding-left: 15px;
        padding-right: 15px;
        @media screen and (max-width: 557px) {
            text-align: center;
        }
        & h1 {
            margin: 0;
            padding-top: 10.59407%;
            padding-bottom: 9px;
        }
        & span {
            font-size: 24px;
            line-height: 28px;
            color: white;
            font-weight: 100;
            max-width: 533px;
        }
    }
}
.design-section-buttons {
    padding-top: 37px;
    padding-bottom: 15.32628%;
    @media screen and (max-width: 557px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.button-design {
    @extend%LinkStyleGrey;
    padding: 20px 61px 19px 62px;
    margin: 7.5px;
}
.button-consoles {
    @extend%LinkStyleGreen;
    padding: 19px 23px 20px 23px;
    margin: 7.5px;
}